<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=fonitor;AccountKey=xVuCy7jPkUYrFpzfZ6Q6HoNYqdrfU2t+boE8t3c1Od2oVYgYIU4Yl7yeWiFdu7g1PpPtvcvJzLiDG3G3MP7LpA==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=fonitor;AccountKey=xVuCy7jPkUYrFpzfZ6Q6HoNYqdrfU2t+boE8t3c1Od2oVYgYIU4Yl7yeWiFdu7g1PpPtvcvJzLiDG3G3MP7LpA==" />
  </connectionStrings>
  <appSettings>
    <add key="MaxImageDivergencePercent" value="10" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=fonitor;AccountKey=xVuCy7jPkUYrFpzfZ6Q6HoNYqdrfU2t+boE8t3c1Od2oVYgYIU4Yl7yeWiFdu7g1PpPtvcvJzLiDG3G3MP7LpA==" />
    
    <!--Email settings-->
    <add key="EmailAddress" value="fonitor@outlook.com" />
    <add key="SendGridPassword" value="" />
    <add key="SendGridUsername" value="" />
    <!--SMS settings-->
    <add key="PhoneNumber" value="+15717622629"/>
    <add key="TwilioAuthToken" value=""/>
    <add key="TwilioAccountSID" value=""/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
